.group-edit {
  top: 0;
  position: absolute;
  background-color: white;
  z-index: 10;
  border: 1px solid #ddd;

  td:last-child > a {
    float: right;
  }

  img {
    opacity: 0;
    transition: opactity 0.5s;
  }

  tr:hover img {
    opacity: 0.5;
  }

  tr:hover img:hover {
    opacity: 1;
  }
}
