{
  "presets": [
    [
      "es2015",
      {
        "modules": false
      }
    ],
    "react"
  ],
  "plugins": [
   "@babel/plugin-transform-arrow-functions",
    "transform-class-properties",
    "react-hot-loader/babel"
  ]
}
