# SPDX-FileCopyrightText: 2026 Nextcloud GmbH and Nextcloud contributors
# SPDX-License-Identifier: AGPL-3.0-or-later
parameters:
	level: 10
	phpVersion:
		min: 80200
		max: 80500
	paths:
		- lib
		- templates
		- tests
	excludePaths:
		- tests/stubs
	scanDirectories:
		- vendor-bin/phpunit/vendor/phpunit/phpunit
	scanFiles:
		- tests/stubs/doctrine_dbal_arrayparametertype.php
		- tests/stubs/doctrine_dbal_schema_abstractasset.php
		- tests/stubs/doctrine_dbal_schema_column.php
		- tests/stubs/doctrine_dbal_schema_schema.php
		- tests/stubs/doctrine_dbal_schema_table.php
		- tests/stubs/icewind_streams_directory.php
		- tests/stubs/icewind_streams_iteratordirectory.php
		- tests/stubs/icewind_streams_wrapperhandler.php
		- tests/stubs/oc.php
		- tests/stubs/oc_app.php
		- tests/stubs/oc_appframework_ocs_baseresponse.php
		- tests/stubs/oc_appframework_ocs_v1response.php
		- tests/stubs/oc_appframework_utility_simplecontainer.php
		- tests/stubs/oc_core_command_base.php
		- tests/stubs/oc_db_querybuilder_querybuilder.php
		- tests/stubs/oc_db_querybuilder_typedquerybuilder.php
		- tests/stubs/oc_encryption_exceptions_decryptionfailedexception.php
		- tests/stubs/oc_files_cache_cache.php
		- tests/stubs/oc_files_cache_cacheentry.php
		- tests/stubs/oc_files_cache_scanner.php
		- tests/stubs/oc_files_cache_wrapper_cachejail.php
		- tests/stubs/oc_files_cache_wrapper_cachewrapper.php
		- tests/stubs/oc_files_fileinfo.php
		- tests/stubs/oc_files_filesystem.php
		- tests/stubs/oc_files_mount_mountpoint.php
		- tests/stubs/oc_files_node_lazyfolder.php
		- tests/stubs/oc_files_node_node.php
		- tests/stubs/oc_files_objectstore_objectstorescanner.php
		- tests/stubs/oc_files_objectstore_objectstorestorage.php
		- tests/stubs/oc_files_objectstore_primaryobjectstoreconfig.php
		- tests/stubs/oc_files_setupmanager.php
		- tests/stubs/oc_files_storage_common.php
		- tests/stubs/oc_files_storage_local.php
		- tests/stubs/oc_files_storage_storage.php
		- tests/stubs/oc_files_storage_temporary.php
		- tests/stubs/oc_files_storage_wrapper_encryption.php
		- tests/stubs/oc_files_storage_wrapper_jail.php
		- tests/stubs/oc_files_storage_wrapper_permissionsmask.php
		- tests/stubs/oc_files_storage_wrapper_quota.php
		- tests/stubs/oc_files_storage_wrapper_wrapper.php
		- tests/stubs/oc_files_view.php
		- tests/stubs/oc_group_database.php
		- tests/stubs/oc_group_manager.php
		- tests/stubs/oc_hook.php
		- tests/stubs/oc_hooks_basicemitter.php
		- tests/stubs/oc_hooks_emitter.php
		- tests/stubs/oc_hooks_emittertrait.php
		- tests/stubs/oc_hooks_publicemitter.php
		- tests/stubs/oc_server.php
		- tests/stubs/oc_servercontainer.php
		- tests/stubs/oc_settings_authorizedgroup.php
		- tests/stubs/oc_settings_authorizedgroupmapper.php
		- tests/stubs/oc_user_user.php
		- tests/stubs/oca_circles_circlesmanager.php
		- tests/stubs/oca_circles_circlesqueryhelper.php
		- tests/stubs/oca_circles_db_corequerybuilder.php
		- tests/stubs/oca_circles_events_circledestroyedevent.php
		- tests/stubs/oca_circles_events_circleresultgenericevent.php
		- tests/stubs/oca_circles_exceptions_circlenotfoundexception.php
		- tests/stubs/oca_circles_exceptions_federateditemexception.php
		- tests/stubs/oca_circles_exceptions_federateditemnotfoundexception.php
		- tests/stubs/oca_circles_ientity.php
		- tests/stubs/oca_circles_ifederatedmodel.php
		- tests/stubs/oca_circles_ifederateduser.php
		- tests/stubs/oca_circles_iqueryprobe.php
		- tests/stubs/oca_circles_model_circle.php
		- tests/stubs/oca_circles_model_federateduser.php
		- tests/stubs/oca_circles_model_managedmodel.php
		- tests/stubs/oca_circles_model_member.php
		- tests/stubs/oca_circles_model_probes_basicprobe.php
		- tests/stubs/oca_circles_model_probes_circleprobe.php
		- tests/stubs/oca_circles_model_probes_memberprobe.php
		- tests/stubs/oca_circles_tools_db_extendedquerybuilder.php
		- tests/stubs/oca_circles_tools_db_iqueryrow.php
		- tests/stubs/oca_circles_tools_ideserializable.php
		- tests/stubs/oca_dav_connector_sabre_directory.php
		- tests/stubs/oca_dav_connector_sabre_exception_forbidden.php
		- tests/stubs/oca_dav_connector_sabre_node.php
		- tests/stubs/oca_dav_connector_sabre_principal.php
		- tests/stubs/oca_files_event_loadadditionalscriptsevent.php
		- tests/stubs/oca_files_sharing_event_beforetemplaterenderedevent.php
		- tests/stubs/oca_files_trashbin_expiration.php
		- tests/stubs/oca_files_trashbin_storage.php
		- tests/stubs/oca_files_trashbin_trash_itrashbackend.php
		- tests/stubs/oca_files_trashbin_trash_itrashitem.php
		- tests/stubs/oca_files_trashbin_trash_trashitem.php
		- tests/stubs/oca_files_versions_expiration.php
		- tests/stubs/oca_files_versions_versions_ideletableversionbackend.php
		- tests/stubs/oca_files_versions_versions_imetadataversion.php
		- tests/stubs/oca_files_versions_versions_imetadataversionbackend.php
		- tests/stubs/oca_files_versions_versions_ineedsyncversionbackend.php
		- tests/stubs/oca_files_versions_versions_iversion.php
		- tests/stubs/oca_files_versions_versions_iversionbackend.php
		- tests/stubs/oca_files_versions_versions_iversionsimporterbackend.php
		- tests/stubs/oca_files_versions_versions_version.php
		- tests/stubs/oca_richdocuments_db_wopi.php
		- tests/stubs/oca_richdocuments_db_wopimapper.php
		- tests/stubs/oca_settings_service_authorizedgroupservice.php
		- tests/stubs/stecman_component_symfony_console_bashcompletion_completion_completionawareinterface.php
		- tests/stubs/symfony_component_console_command_command.php
		- tests/stubs/symfony_component_console_exception_invalidargumentexception.php
		- tests/stubs/symfony_component_console_helper_questionhelper.php
		- tests/stubs/symfony_component_console_helper_table.php
		- tests/stubs/symfony_component_console_input_inputargument.php
		- tests/stubs/symfony_component_console_input_inputinterface.php
		- tests/stubs/symfony_component_console_input_inputoption.php
		- tests/stubs/symfony_component_console_output_outputinterface.php
		- tests/stubs/symfony_component_console_question_confirmationquestion.php
		- tests/stubs/symfony_component_console_question_question.php
		- tests/stubs/test_testcase.php
		- tests/stubs/test_traits_usertrait.php
