<?xml version="1.0" encoding="utf-8" ?>
<phpunit bootstrap="bootstrap.php"
		 strict="true"
		 timeoutForSmallTests="900"
		 timeoutForMediumTests="900"
		 timeoutForLargeTests="900"
>
	<testsuite name='Nextcloud - Group Folders App Tests'>
		<directory suffix='.php'>.</directory>
	</testsuite>
	<filter>
		<whitelist>
			<directory suffix=".php">../</directory>
			<exclude>
				<directory suffix=".php">../tests
				</directory>
			</exclude>
		</whitelist>
	</filter>
	<logging>
		<log type="coverage-clover" target="./clover.xml"/>
	</logging>
</phpunit>

