<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 bootstrap="bootstrap.php"
		 timeoutForSmallTests="900"
		 timeoutForMediumTests="900"
		 timeoutForLargeTests="900"
		 verbose="true"
		 convertDeprecationsToExceptions="true"
		 xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
	<coverage>
		<include>
			<directory suffix=".php">../lib</directory>
		</include>
		<report>
			<html outputDirectory="coverage" lowUpperBound="50" highLowerBound="90"/>
		</report>
	</coverage>
	<testsuite name="Nextcloud - Group folders App Tests">
		<directory suffix=".php">.</directory>
		<exclude>./stubs/</exclude>
	</testsuite>
	<logging/>
</phpunit>
