/*!
 * SPDX-FileCopyrightText: 2021 Nextcloud GmbH and Nextcloud contributors
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */
#groupfolders-wrapper {
	padding: 30px;
}

#groupfolders-react-root, #groupfolders-root {
	height: 100%;
	min-height: calc(100vh - 50px);
}

#groupfolders-react-root {

	&, & > table {
		width: 100%;
	}

	tr {
		height: 55px;
	}

	th {
		border-bottom: 1px #ddd solid;
		cursor: pointer;

		.sort_arrow {
			padding-left: 10px;
			color: #888;
		}
	}

	td, th {
		padding: 10px;
		position: relative;
		display: table-cell;

		& > form {
			margin: -10px;

			input[type='text'] {
				width: 100%;
			}
		}

		.action-rename {
			&::after {
				display: inline-block;
				position: relative;
				top: 2px;
				left: 2px;
				content: '';
				width: 16px;
				height: 16px;
				background: var(--icon-rename-dark) no-repeat center;
				opacity: 0;

				&:hover {
					opacity: 1;
				}
			}
		}

		&.mountpoint {
			width: 15%;
		}
		&.groups {
			min-width: 300px;
			white-space: normal;
		}
		&.quota {
			width: 180px;
		}
		&.acl {
			display: flex;
			& > div {
				min-width: 250px;
				flex-grow: 1;
			}
			& > label {
				padding-top: 10px;
			}
		}

		&.remove {
			width: 32px;
		}

		a.icon {
			margin-left: 5px;
		}
	}

	tr:hover {
		.icon {
			opacity: 0.5;

			&:hover {
				opacity: 1;
			}
		}

		.action-rename {
			&::after {
				opacity: 0.5;
			}

			&:hover::after {
				opacity: 1;
			}
		}
	}

	.icon {
		display: inline-block;
		opacity: 0;

		&.icon-visible {
			opacity: 0.5;
		}
	}

	.newgroup-name {
		width: 200px;
		max-width: calc(100% - 40px);
	}

	thead {
		tr {
			th {
				color: var(--color-text-lighter);
				&:first-child {
					font-weight: bold;
					color: var(--color-main-text);
				}
			}
		}
	}

	tbody {
		tr {
			&:not(:last-child) {
				td {
					border-bottom: var(--color-border) 1px solid;
				}
			}
			&:not(:last-child):hover {
				td {
					background-color: var(--color-background-dark);
					&:first-child {
						border-radius: 6px 0 0 6px;
					}
					&:last-child {
						border-radius: 0 6px 6px 0;
					}
				}
			}
			&:last-child {
				td {
					padding: 35px 0;
				}
			}
			&:last-child:hover {
				background-color: transparent;
			}
			td {
				a {
					color: var(--color-text-lighter);
				}
				&.mountpoint {
					a {
						color: var(--color-main-text);
						font-weight: bold;
					}
				}
			}
		}
	}

	.groupfolders-pagination__list {
		display: flex;
		gap: var(--default-grid-baseline);
		justify-content: center;
	}

	.groupfolders-pagination__button {
		height: var(--default-clickable-area);
	}

}

#groupfolders-admin-delegation {

	h3 {
		margin-top: 22px;
		margin-bottom: 22px;
	}

	.end-description-delegation {
		margin-bottom: 20px;
	}

	.delegated-admins-select {
		margin-bottom: 30px;
	}
}
