/*!
 * SPDX-FileCopyrightText: 2021 Nextcloud GmbH and Nextcloud contributors
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */
#groupfolders-react-root td.quota {
	position: relative;
	padding: 0;

	/** complex query to ensure we overwrite the core style */
	input.editselect-input:not([type='range']):not(:disabled):not(.primary):not(#quota) {
		&.error {
			&, &:focus, &:hover {
				border-color: red;
			}
		}
		width: 150px;
		position: absolute;
		top: 0;
		left: 0;
	}

	select.editselect {
		height: 34px;
		width: 150px;
		position: absolute;
		top: 0;
		left: 0;
		margin: 0;
		background-color: transparent;
	}

	.quotabar-holder {
		height: 34px;
		width: 150px;
		position: relative;
	}

	.quotabar {
		position: absolute;
		margin: 3px 0;
		border-radius: var(--border-radius-large);
		top: -2px;
		left: 0;
		background-color: var(--color-background-darker);
		height: 100%;
		color: var(--color-main-text);
	}
}
