#groupfolders-react-root td.quota {
  position: relative;
  padding: 0;

  /** complex query to ensure we overwrite the core style */
  input.editselect-input:not([type='range']):not(:disabled):not(.primary):not(#quota) {
    &.error {
      &, &:focus, &:hover {
        border-color: red;
      }
    }
    width: 150px;
    position: absolute;
    top: 0;
    left: 0;
  }

  select.editselect {
    height: 34px;
    width: 150px;
    position: absolute;
    top: 0;
    left: 0;
  }

  .quotabar-holder {
    height: 34px;
    width: 150px;
    position: relative;
  }

  .quotabar {
    position: absolute;
    margin: 3px 0;
    border-radius: 3px;
    top: 0;
    left: 0;
    background-color: #eee;
    height: 34px;
  }
}
