/*!
 * SPDX-FileCopyrightText: 2021 Nextcloud GmbH and Nextcloud contributors
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */
#groupfolders-react-root .group-edit {
	min-width: 300px;
	top: 0;
	position: absolute;
	background-color: var(--color-main-background, #fff);
	z-index: 10;
	border: 1px solid var(--color-border, #ddd);

	td {
		padding: 2px 10px;

		// Provide close icon which automatically fits color scheme
		.close-btn {
			background: transparent var(--icon-close-dark) no-repeat;
			min-width: 16px;
			min-height: 16px;
		}

		// Fit group selection
		&[colspan='5'] {
			padding: 0;

			.no-options-available {
				padding: 2px 10px;
			}
		}
	}

	td:last-child > a {
		float: right;
	}

	td:first-child, th:first-child {
		min-width: 170px;
		white-space: normal;
	}

	td:last-child, th:last-child {
		width: 16px;
	}

	td.permissions {
		text-align: center;

		// Align checkboxes with close button and text
		input[type='checkbox'] {
			vertical-align: middle;
		}
	}

	input {
		margin: 0;
	}

	img {
		opacity: 0;
		transition: opactity 0.5s;
	}

	tr:hover img {
		opacity: 0.5;
	}

	tr:hover img:hover {
		opacity: 1;
	}
}
